<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--1. 配置数据源  druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--驱动类配置-->
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <!--数据库的基本配置  url  username   password-->
        <property name="url" value="jdbc:mysql:///mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="12315.qq"/>
        <!--配置获取  连接的超时等待时间   单位毫秒-->
        <property name="maxWait" value="60000"/>
        <!--配置初始化    大小  最小   最大-->
        <property name="initialSize" value="1"/>
        <property name="minIdle" value="1"/>
        <property name="maxActive" value="20"/>
        <!--配置间隔多久检查一次（检查需要关闭的空闲连接） 单位 毫秒-->
        <property name="timeBetweenConnectErrorMillis" value="60000"/>
        <!--配置一个连接在池中最小的生存时间-->
        <property name="minEvictableIdleTimeMillis" value="300000"/>

        <!--验证连接是否有效-->
        <property name="validationQuery" value="select 1"/>
        <!--保证安全性-->
        <property name="testWhileIdle" value="true"/>
        <!--防止取到连接不可用-->
        <property name="testOnBorrow" value="false"/>

        <!--打开PSCache 缓存  并且  每个连接大小需要指定-->
        <!--PreparedStatement       -->
        <property name="poolPreparedStatements" value="true"/>
        <property name="maxOpenPreparedStatements" value="20"/>

        <!--配置监控统计连接的过滤器filters  开启web监控，开启sql防火墙-->
        <property name="filters" value="stat,wall"/>
        <property name="proxyFilters">
            <list>
                <bean class="com.alibaba.druid.filter.stat.StatFilter">
                    <!--记录慢sql-->
                    <!--执行时间 大于200毫秒的都是慢sql-->
                    <property name="slowSqlMillis" value="5"/>
                    <property name="logSlowSql" value="true"/>
                </bean>
                <bean class="com.alibaba.druid.filter.logging.Slf4jLogFilter">
                    <property name="statementExecutableSqlLogEnable" value="false"/>
                </bean>
            </list>
        </property>
    </bean>
    <!--2. jdbc模板-->
    <bean id="jdbc" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--3.开启spring监控-->
    <bean id="druidStatInterceptor" class="com.alibaba.druid.support.spring.stat.DruidStatInterceptor"/>
    <bean id="druidStatPointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut" scope="prototype">
        <property name="patterns">
            <list>
                <value>com.yyh.dao.*</value>
                <value>com.yyh.service.*</value>
                <value>com.yyh.handler.*</value>
            </list>
        </property>
    </bean>
    <!--4.切面配置-->
    <aop:config>
    <aop:advisor advice-ref="druidStatInterceptor" pointcut-ref="druidStatPointcut"/>
    </aop:config>

</beans>