<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVCDruid:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCDruid_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="SpringMVCDruid/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVCDruid" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: aspectj:aspectjweaver:1.5.3" />
          <element id="library" level="project" name="Maven: com.alibaba:druid:1.1.10" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.38" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.4.RELEASE" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.10" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:4.3.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring4:3.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.5.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>